.FrontPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.FrontPage button{
    display: block;
    font: inherit;
    padding: 5px;
    margin : 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.FrontPage button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.FrontPage button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}