.Experience{
    margin: 20px auto;
    width: 80%;
    text-align: left;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
.ExperienceLabel{
        color: #283648;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .8em;
        letter-spacing: .1em;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.LabelCheckbox {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.InputCheckbox  {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

@media (min-width: 600px){
    .Experience{
        width: 500px;
    }
}